.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 500ms !important;
}

.font{
    font-family: 'Lobster', cursive;
    font-weight:300;
    font-size:40px;
}
#social{
    display: none;
    padding:20px;
}

#personal{
    display:none;
    padding:20px;
}

#account{
    display: block;
    padding:20px;
}

.text.container{

    width:40%;

}

body, html {
    height: 1000%;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("https://d3kd7yh0gftfw0.cloudfront.net/511/444/1234-2.jpg");
    min-height: 800px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img1 {
    /* The image used */
    background-image: url("https://d38jde2cfwaolo.cloudfront.net/modules/simpleslideshow/slides/suitsanarkali-desk-07-09-18.jpg");
    min-height: 600px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}