div.transbox {
 position: fixed;
 margin: 5px;
 background-color: hsla(89, 43%, 51%, 0.8);
 border: 5px solid  black;
 opacity: 1;
 filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
 margin: 1%;
 font-weight: bold;
 color: black;
}
div.transbox a
{
    margin-left: 85em;

}
#para{
   font-size:40px;
   font-family: algerian;
}
.text {
  color: black;
  font-size: 90px;
  padding: 8px 12px;
  position: fixed;
  top: 80px;
  width: 100%;
  text-align: left;
  font-family: algerian;
}

.ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
text-align: right;
}
li {
float: right;
}
li a {
display: inline-block;
color: black;
text-align: right;
padding: 16px;
text-decoration: none;
}

.aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    top:100px;
}


.container {
    position:relative;
    font-family: Arial;
     height: 15em;  
}
.text-block {
    position: absolute;
    top: 200px;
    right: 0px;
    font-size:60px;
    font-family:apple chancery,cursive;
  text-align:center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    left:20px;
}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
   border: 2px solid #f44336;;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  float:center;
  right:400;
}

.button:hover {
  background-color: #3e8e41;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
 }

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}